/*
 * CSS for the moving bubbles
 * Makes sure the bubble container appears behind the contents of the page
 * Gerard Godone-Maresca
 */
 html, body {
	padding:0;
	margin:0;
	min-height:100%;
	background-color:#50afe4;
	background-image:linear-gradient(to bottom,#57B7E0,#3C799D);
	background-attachment:fixed;
}
html * { z-index: 1; position:relative; }
#bubbleContainer {
	z-index:0;
	overflow:hidden;
	position:fixed;
	height:100%;
	width:100%;
}
#bubbleContainer div {
	position:fixed;
	z-index:-1;
	border-radius:1000px;
}

/* Typography */
html {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

main > .tagline {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 2em;
	font-weight: 300;
}

main > .hashtags {
	font-size: 1.5rem;
	font-weight: 100;
}

.icons-social i {
	padding: 10px;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}